.hakkımda {
  background-color: rgb(180, 69, 69);
  color: aliceblue;
  text-decoration: none;
  text-align: center;
  margin-left: 30%;
  border-width: 5px;
  border-color: black;
  border-style: solid;
}
.anasayfa {
  background-color: rgb(180, 69, 69);
  color: aliceblue;
  text-decoration: none;
  text-align: center;
  margin-left: 7%;
  border-width: 5px;
  border-color: black;
  border-style: solid;
}
