.hakkımda {
  background-color: rgb(180, 69, 69);
  color: aliceblue;
  text-decoration: none;
  text-align: center;
  border-width: 5px;
  border-color: black;
  border-style: solid;
  display: block;
  margin: 0 auto;
  width: 50%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.anasayfa {
  background-color: rgb(180, 69, 69);
  color: aliceblue;
  text-decoration: none;
  text-align: center;
  border-width: 5px;
  border-color: black;
  border-style: solid;
  margin: 1rem auto;
  display: block;
  width: 50%;
  box-sizing: border-box;
}
