.a {
  font-size: 8rem;
  padding: 0;
  color: rgb(180, 69, 69);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}