.index{
    font-size: 1.60rem;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: rgb(247, 21, 21);
    text-align: center;
}